# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/

# Virtual environments
venv/
ENV/
env.bak/
env/.

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# My IDE and editor settings
.idea/
.vscode/
*.swp
*~
